/*IMPROTANTANDO FUENTE */

@font-face{
   font-family: "baskerville-bold";
   font-style: bold;
   font-weight: bold;
   src: url('../fonts/LibreBaskerville-Bold.ttf');

} 
/*Fuente color azul de acuerdo institucional*/
.texto-azul
{	
	font-family: 'Baskerville Bold', arial;	
	color: #2F0F61 !important;

}
/*fuente personalizada institucional*/
.fuente-institucional
{
	font-family: 'Baskerville Bold', arial;	
}
/*fuente negrita*/
.f-negrita
{
font-weight: bold;
}
/*fuente color amarillo institucional*/
.texto-amarillo
{
	color: #FFD608 !important;
}
/*color de fondo redondo del logo */
.fondo-gris-c
{
	background-color: #F2F2F2;
}

/*color de fondo 2 redondo del logo*/
.fondo-gris-os
{
	background-color: #E6E6E6;
}
/*fondo amarillo cuando se coloque el mouse sobre le menu principal*/
.hover-amarillo:hover
{
	background-color: #FFD608 !important;

}
/*hover letra amarilla sobre el menu 2 */
.hover-texto-amarillo:hover
{
	color: #FFD608 !important;
}

/*hover letra blanca sobre el boton leer mas de noticias */
.hover-texto-blanco:hover
{
	color: white !important;	
	border-color: white !important;
}

/*fondo amarillo para los menus y zonas que lo requieran*/
.fondo-amarillo
{
	background-color: #FFD608;
}
/*sombra bajo los iconos*/
.sombra-iconos
{
	font-size:35px;
	color:lightblue;
	text-shadow:2px 2px 2px #000000;
	color: #10447A !important;
}
/*fondo azul para el footer*/
.fondo-azul
{
	background-color: #10447A !important;
}
/*fondo azul oscuro para el footer 2*/
.fondo-azul-oscuro
{
	background-color: #0B2851 !important;
}
/*fuente italica para tituloz*/
.f-italica
{
	font-style: italic;
}
/*transparencia en la seccion de noticias*/
.transparencia
{
	background-image: url('../img/transparente5x5px.png');
	background-repeat: all;	
}
/*borde color azul*/
.borde-azul
{
	border-color: #2F0F61 !important;
}
/*borde color amarillo*/
.borde-amarillo
{
	border-color: #FFD608 !important;		
}
.borde-ancho
{
	border-left-width: 3px !important; 
}
/*fuente bold para el footer*/
.f-x-small
{
	font-size: x-small;
	font-weight: bold !important;
}
/*linea footer 2*/
.linea-footer2 
{    
    border-top: 1px solid #FFD608;
    margin-bottom: 0px;    
}
/*circulo blanco para colocar los iconos adentro*/
.circulo
{
	width: 70px;
	height: 70px;
	background-color: white;
	-moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     margin: 0 auto;
}

/*editando el estilo original de bootstrap
 para bajar la flecha del slider*/

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  /*top: 4;*/
  /*bottom: 50px;*/
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  padding: 30px;
  /*background-color: red;*/
}

.navbar
{
	padding: 0rem .01rem !important;
}

/*rectangulo gris oscuro sesgado del menu1*/
.rectangulo-sesgado
{
	
    height: 0px;    
    border-left: 2rem solid transparent;
    border-right: 0px solid yellow;
    border-bottom: 2.5rem solid #E3E3E3;
    z-index: 1030;
}

/*tamaño de fuente para el menu 1*/

.f-size-14
{
	font-size: 14px;
}
.f-size-18
{
	font-size: 25px;
}


/* redes sociales */

/*efectos radios sobre el logo */
 #efecto-borde1
{		
	-webkit-transition:all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

#efecto-borde2
{		
	-webkit-transition-duration: 3s;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
}

#efecto-borde1:hover
{		            
	background-color: #10447A;			
	border-width: 2px;
	border-style: solid;
	border-color: #FFD608 !important; /*borde amarillo*/
	-webkit-box-shadow: 0px 0px 19px 0px rgba(247,247,10,1);
	-moz-box-shadow: 0px 0px 19px 0px rgba(247,247,10,1);
	box-shadow: 0px 0px 19px 0px rgba(247,247,10,1);
}

#efecto-borde2:hover
{	
	background-color: #FFD608;			
	border-width: 3px;
	border-style: solid;
	border-color: white !important;	
	-webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
}
/*FIN efectos radios sobre el logo */


/*ecfecto hacer mas pequeño el logo cuando se desplace el scroll hacia abajo*/
.efecto-antes
{
	-webkit-transition:all 1s ;
    -moz-transition:all 1s ;
    -o-transition:all 1s ;
    transition:all 1s ;    
}
.efecto-despues
{
	-webkit-transition:all 1s ;
    -moz-transition:all 1s ;
    -o-transition:all 1s ;
    transition:all 1s ;
    
}

.contenedor-zoom
{
	/*Figura sesgada azul para el zoom*/
    width: 0px;
    height: 100px;    
    border-top: 20px solid transparent;
    border-left: 0px solid blue;
    border-right: 40px solid #00487B;  /*ancho de la figura*/

    /*animacion para todos los navegadores*/
    /*transicion al final de medio segundo*/
	-webkit-transition: all 500ms ease-out;
    -moz-transition: all  500ms ease-out;
    -o-transition: all  500ms ease-out;
    transition: all  500ms ease-out;


	/*posicionamiento fijo a la derecha y un poco abajo*/
	position: fixed;	
	right: 0;	/*alinear a la deracha*/
	top:60px;
	z-index: 1040;

    
}
/*iconos de redes sociales*/
.contenedor-redes
{
	/*forma del cuadrado menos un borde*/
	width: 0px;
    height: 160px;    
    border-left: -50px solid red;
    border-right: 40px solid #FFD608;
    border-bottom: 20px solid transparent;
	
	/*transicion al final de medio segundo*/
	-webkit-transition: all 500ms ease-out;
    -moz-transition: all  500ms ease-out;
    -o-transition: all  500ms ease-out;
    transition: all  500ms ease-out;

	/*posicionamiento fijo a la derecha y un poco abajo*/
	position: fixed;	
	right: 0;	/*alinear a la deracha*/
	top:170px;
	z-index: 1030;
	
}

/*Efecto cuando se coloca el mouse encima de social media*/
.contenedor-redes:hover
{	            
    width: 0px;
    height: 165px;    
    border-left: -50px solid red;
    border-right: 50px solid #FFD608;
    border-bottom: 20px solid transparent;

    -webkit-transition: all 500ms ease;
    -moz-transition: all  500ms ease;
    -o-transition: all  500ms ease;
    transition: all  500ms ease;	
}
/*texto vertical de redes sociales*/
.tredes
{
	writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-left:-4px;
    color: #1B1464;
    /*background-image: url('../img/transparente5x5px.png');
    background-repeat: all;
    border-radius: 0px 10px 10px 0px;*/
    position: absolute;
    top: 20px;
    /*font-size: 16px;*/

    /*text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);*/
}

/*SECCIÓN DOCUMENTOS*/


















